.g-signin2 {
	position: absolute;
	top: 15px;
	right: 15px;
}

#start_button {
	background-color: #4CAF50; 	
}

#end_button {
	background-color: #f44336;
}

#buttonSave {
	background-color: #00FA9A;
}

#buttonLoad {
	background-color: #00FA9A;
}

button {
	padding: 5px;	
}
