.g-signin2 {
	position: absolute;
	top: 15px;
	right: 15px;
}

#start_button {
  position: relative;
	background-color: #4CAF50;
}

#end_button {
	background-color: #f44336;
}

#buttonSave {
	background-color: #00FA9A;
  	position: absolute;
	top:200px;
  	left:641px;
}

button {
	padding: 5px;	
}
 h4{
    border-style: solid;
    border-radius: 10px;
    border-color:rgba(0, 183, 255, 0.897);
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    padding: 9px;
    right: 10px;
    background-color: rgba(0, 183, 255, 0.897);
    display: inline

 }
#titleText{
    position:relative;
    left: 10px;
     
 }
 html{
   background-color:rgb(20, 25, 75);
 }
 h3{
    border-style: solid;
    border-radius: 10px;
    border-color:rgba(0, 183, 255, 0.897);
    background-color:aquamarine;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    padding: 0px;
    position:relative;
    top: 20px;
    display: inline
    
 }
 #noteInput{
   position:relative;

   top: 80px;

 }

#gotoread{
	position:relative;
	top:50px;
	left:20px;
}
