html{
   background-color:rgb(20, 25, 75);
 }
ul{
  background-color:green;
  padding: 5px;
}
h1{
  font-color: turquoise;
  
}
#ReadHere{
  font-family:Arial, Helvetica, sans-serif;
  background-color:aquamarine;
}
